@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --h1: #000000;
  --White: hsl(0, 0%, 100%);
  --Lightviolet: hsl(270, 3%, 87%);
  --Darkviolet: hsl(279, 6%, 55%);
  --Verydarkviolet: hsl(278, 68%, 11%);
  --fontfamily: "Space Grotesk", sans-serif;
}

body {
  background-color: hsl(0, 0%, 100%);
  overflow-y: hidden;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

#mainBackground {
  background-image: url(./images/bg-main-desktop.png);
  height: 100%;
  width: 100%;
  display: inline-block;
  position: absolute;
  background-repeat: no-repeat;
  z-index: calc(-1);
}

.container {
  display: flex;
}

.front {
  position: absolute;
  margin-left: 100px;
  margin-top: 130px;
  z-index: 3;
  filter: drop-shadow(0 0 0.75rem black);
}

.back {
  margin-top: 65%;
  margin-left: 200px;
  filter: drop-shadow(0 0 0.75rem black);;
}

.circle {
  z-index: 4;
  position: absolute;
  margin-top: 160px;
  margin-left: 130px;
}

.number {
  margin-left: 140px;
  font-size: 25px;
  color: var(--White);
  position: absolute;
  margin-top: 250px;
  font-family: var(--fontfamily);
  letter-spacing: 5px;
  z-index: 5;
}

.nameOnCard {
  z-index: 5;
  margin-left: 140px;
  font-size: 17px;
  color: var(--White);
  position: absolute;
  margin-top: 330px;
  font-family: var(--fontfamily);
  letter-spacing: 1px;
}

.digits {
  z-index: 5;
  margin-left: 29.3rem;
  font-size: 15px;
  color: var(--White);
  position: absolute;
  margin-top: 330px;
  font-family: var(--fontfamily);
  letter-spacing: 1px;
}

.digits2 {
  z-index: 5;
  margin-left: -5.4rem;
  font-size: 16px;
  color: var(--White);
  position: absolute;
  margin-top: 33.2rem;
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: 1px;
}

#right {
  margin-left: 11rem;
  margin-top: 14rem;
}

.cardDetailsText {
  justify-content: center;
  color: var(--Verydarkviolet);
  font-family: var(--fontfamily);
  font-size: 18px;
  height: 30px;
  width: 125%;
  border: 2px solid var(--Lightviolet);
  border-radius: 5px;
  padding: 6px;
  margin-bottom: 5px;
  text-transform: capitalize;
  cursor: pointer;
}

#cardInputDetail {
  display: flex;
  font-family: var(--fontfamily);
}
#cardexpdate {
  display: flex;
  font-family: var(--fontfamily);
}
#cardexpdate input {
  font-family: var(--fontfamily);
  width: 80px;
  margin-right: 10px;
  -webkit-appearance: none;
}
.inputheading {
  letter-spacing: 1.1px;
  color: var(--Verydarkviolet);
  font-family: "Space Grotesk", sans-serif;
  font-size: 15px;
  margin-top: 50px;
  margin-bottom: -12px;
  height: 36px;

  text-transform: uppercase;
}

#cardDetailsInput {
  display: flex;
  flex-direction: row;
}
.cvcTitle {
  margin-left: 29px;
  font-family: var(--fontfamily);
}

.cvcinput {
  margin-left: 10px;
  font-family: var(--fontfamily);
  width: 120px;
}

.thankyou {
  color: white;
  background-color: var(--Verydarkviolet);
  justify-content: center;
  font-family: var(--fontfamily);
  width: 125%;
  border-radius: 10px;
  height: 50px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease;
  border: none;
  margin-top: 45px;

}

.thankyou:hover {
  background-color: var(--Darkviolet);
  color: var(--Verydarkviolet);
}
.continuebtn {
  display: flex;
  padding: 10px;
  width: 125%;
  height: 55px;
  margin-top: 50px;
  border: none;
  border-radius: 10px;
  color: var(--White);
  background-color: var(--Verydarkviolet);
  font-family: var(--fontfamily);
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-left: -13%;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.continuebtn:hover {
  background-color: var(--Darkviolet);
  color: var(--Verydarkviolet);
}

#btn:hover {
  background-color: var(--Darkviolet);
  color: var(--Verydarkviolet);
}


#nameErr,
#cardNumErr,
#cardNumBlankErr {
  position: absolute;
  color: red;
  font-family: var(--fontfamily);
  font-size: 12px;
  margin-bottom: 1rem;
  margin-top: 43px;
  display: none;
}
#mmyyErr {
  position: absolute;
  color: red;
  font-family: var(--fontfamily);
  margin-left: 0%;
  margin-top: 32px;
  font-size: 12px;
  display: none;
}

#cvcerror {
  position: absolute;
  color: red;
  font-family: var(--fontfamily);
  margin-left: 12px;
  margin-top: -5px;
  display: none;
  font-size: 12px;
}

#check {
  width: 85px;
  height: 85px;
  margin-left: 67rem;
  margin-top: 16%;
  display: none;
  position: absolute;
}
#thankyou-card {
  display: flex;
  font-family: var(--fontfamily);
  color: var(--Verydarkviolet);
  flex-direction: column;
  font-size: 30px;
  margin-top: 23.5%;
  text-align: center;
  margin-left: 60rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bolder;
  display: none;
  position: absolute;
}
#thankyoumsg {
  font-family: var(--Darkviolet);
  color: var(--Darkviolet);
  font-size: 16px;
  margin-top: 30px;
  text-transform: none;
  font-weight: initial;
}


.attribution{
  font-size: 11px;
  text-align: center;
  margin-top: 50rem;
  font-family: var(--fontfamily);
  margin-left: 19rem;

}

@media (max-width: 600px) {

    body {
        width: 100vw;
        overflow-x: hidden;
        height: 100vh;
    }

    #mainBackground{
        height: 100vh;
        width: 100%;
        display: block;
        background-repeat: repeat-x;
        background-image: url(./images/bg-main-mobile.png);
    }

    .front {
        width: 305px;
        margin-left: 1.5rem;
    }

    .back{
        width: 305px;
        margin-left: 5rem;
        margin-top: 2rem;
    }

    .circle{
        margin-left: 2rem;
        margin-top: 9rem;
    }
    
    
    .nameOnCard {
        font-size: 13px;
        margin-top: 16.5rem;
        margin-left: 2.5rem;
    }

    .number {
        margin-left: 2.5rem;
        font-size: 15px;
        margin-top: 14.5rem;
    }

    .digits {
        margin-left: 16.5rem;
        margin-top: 16.5rem;
        font-size: 12px; 
    }

    .digits2 {
        z-index: 5;
        margin-right: 5px;
        margin-left: -3.9rem;
        font-size: 12px;
        margin-top: 6.65rem;
    }

    #right {
        margin-left: -22rem;
        margin-top: 60%;
    }

    .attribution {
        font-size: 12px;
        margin-top: 206%;
        margin-left: -70%;
    }
    .attribution a {
        text-decoration-line: none;
        color: var(--Verydarkviolet);
    }
  
    #thankyou-card {
      margin-top: 115.5%;
      margin-left: 80px;
      display: none;
    }
  
    #check {
      margin-left: 38%;
      margin-top: 92%;
      display: none;
    }
  
    #btn {
      border-radius: 10px;
      height: 55px;
      position: absolute;
      width: 77%;
      margin-top: 9%;
    }

    .inputheading{
        margin-top: 4rem;
        height: 36px;
        font-size: 16px;
        padding-top: 1px;
        
      }

    #cardNumberVal {
        margin-top: 25px;
    }

    #cardNumDate {
        margin-top: 25px;
    }
    
    #nameErr,
    #cardNumErr,
    #cardNumBlankErr {
      margin-left: 0%;
      margin-top: 2rem;
    }
  
    .continuebtn {
      margin-left: -39px;
    }
}

